version: '3.2'
services:

  nginx:
    build:
      context: ./
      dockerfile: docker/nginx.docker
    volumes:
    - ./app:/var/www
    ports:
    - "8080:80"
    links:
      - php-fpm

  php-fpm:
    build:
      context: ./
      dockerfile: docker/php-fpm.docker
    volumes:
      - ./app:/var/www
